@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This web application is being developed using ASP.NET Core 2.1 (Razor Pages).
    This web application is being developed for my Capstone Information Systems Project.
    The purpose of this web application is to work as an inventory management system for a company
    with three or more locations. For my hypothetical situation, there are two stores and a warehouse.
    Stock can be moved between the stores with shipments. Also, if an item's stock drops too low,
    a worker should be notified to ship extra inventory to that location.</p>
