@page
@model CapstoneIMS.Web.Pages.NotificationsModel
@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Message</th>
        </tr>
    </thead>
    <tr>
        <th>Store A Stock of SKU: 184330 is below OSW</th>
        <th>Create shipment and send QTY 5 of 184330 from warehouse to Store A.</th>
    </tr>
    <tr>
        <th>Send excess stock to Warehouse</th>
        <th>Your store has too many of SKU 193221. Plesae end QTY 11 to Warehouse.</th>
    </tr>

</table>
